@import "colors";

/*https://codepen.io/devilishalchemist/pen/ZYLZay*/

$duration: .2s;
$distance: 4px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

%ul-anim-1 {
	position: relative;
	text-decoration: none;
	padding-bottom: 4px;
	cursor:pointer;
  
	&:before,
	&:after {
	  content: '';
	  position: absolute;
	  bottom: 3px;
	  left: 0; right: 0;
	  height: 2px;
	  background-color: $orange;
	}
	&:before {
	  opacity: 0;
	  transform: translateY(- $distance);
	  transition: transform 0s $easeOutBack, opacity 0s;
	}
	&:after {
	  opacity: 0;
	  transform: translateY($distance/2);
	  transition: transform $duration $easeOutBack, opacity $duration;
	}
	&:hover,
	&:focus {
	  &:before,
	  &:after {
		opacity: 1;
		transform: translateY(0);
	  }
	  &:before {
		transition: transform $duration $easeOutBack, opacity $duration;
	  }
	  &:after {
		transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
	  }
	}
  }