html, body{
	background-color: #222;
	color: #DDD;
}

p, a, li {
	color: #DDD;
}

.emphasis{
	color:#DDD;
	font-weight:bold;
}

.important{
	background:linear-gradient(to left, rgba(61, 74, 255, 0.329), rgba(255, 171, 60, 0.329)) no-repeat -5px 9px;
}

.primary {
	color: rgb(106, 106, 255);
}

#index-toggle {
	color: #666;
	&:hover{
		color: #DDD;
	}
}

.modeToggleWrapper{
	&:hover{
		color: #DDD;
	}
}

table.standard > tbody > tr:nth-child(even){
	background-color:#DDD;
	color:#333;
}
table.standard > tbody > tr:nth-child(odd){
	background-color:transparent;
	color:#EEE;
}
table.standard > tbody > tr.header-row{
	background-color:#333;
	color:#EEE;
}

.quiz-display{
	& > .status-btn{
		color:#be0001;
	}
	& > .status-btn:hover{
		color:#ff4243;
	}
}
.change-page-btn{
	&-left{
		color:#6900cc;
		&:hover{
			color: #992cff;
		}
	}
	&-right{
		color:#6900cc;
		&:hover{
			color: #992cff;
		}
	}
}

a.link-title{
	&:hover > h2 > *{
		color:#DDD;
	}
}